* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  position: relative;
  height: 100px;
  width: 300px;
  background-color: #bebebe;
  border: 2px solid black;
  border-radius: 100px;
  transition: background-color 0.5s ease;
}

label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 85px;
  height: 85px;
  background-color: black;
  transform: translateY(-50%);
  border-radius: 90px;
  border: 2px solid black;
  transition: left 0.5s ease;
}

input:checked + label {
  background-color: black;
  border: 2px solid white;
}

input:checked + label::after {
  left: calc(100% - 95px);
  background-color: white;
}
